# ========================
# Python
# ========================

__pycache__/
*.pyc


# ========================
# Virtual Environment
# ========================

backend/venv/
backend/.venv/


# ========================
# Environment Variables
# ========================

backend/.env
.env


# ========================
# IDE Files
# ========================

.vscode/
.idea/


# ========================
# OS Files
# ========================

.DS_Store
Thumbs.db


# ========================
# Logs
# ========================

*.log